
/* General*/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

.h1_logo {
  font-size: 210%;
  font-family: 'Trebuchet MS', sans-serif;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}


header h1 {
  font-weight: 550;
  margin: 0;
  color: #0D47A1;
}

header nav {
  display: flex;
  color: #0D47A1;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 100%;
  margin-bottom: 2%;
}

a:link    {
  text-decoration: none;
  }

header p {
  padding: 0 20px;
  margin: 0;
}

/* Specific */

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('http://i.imgur.com/ulx7jKM.jpg?1');
  background-size: cover;
  color: #ffffff;
  height: 420px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  background-position: 30% 30%;
}

.whatjumbo {
  display: flex;
  align-items: center;
  background-image: url('http://farm5.staticflickr.com/4119/4791506452_df4dabb120_b.jpg');
  background-size: cover;
  color: #ffffff;
  height: 200px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  background-position: center;
}

.whatparagraph {
  margin-top: 65px;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.col-md-6 p {
  margin: 0 0 30px;
}

.col-md-8 p {
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
}

.col-sm-6 p {
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 130%;
}

.col-md-9 p {
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 130%;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
  margin-top: 40px;
}

.btn.btn-primary:hover {
  color: #fff;
  background-color: #0D47A1;
  border-color: #0D47A1;
}

.btn-secondary {
  background-color: #0D47A1;
  color: #ffffff;
  margin: 0 0 30px;
  align-items: center;
  margin-top: 160px;
  width: 25%;
}

.btn-secondary:hover {
  color: #0D47A1;
  background-color: #fff;
  border-color: #0D47A1;
}

footer {
  font-size: 12px;
  padding: 20px 0;
  margin-top: 35px;
}

.footer-what {
  margin-top: 200px;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

/* Who We Are */

.liz_section {
  margin-top: 10px;
}

.ianmacfarlane {
  width: 30%;
  height: 30%;
  float: left;
}

.iantitle {
  margin-bottom: 8%;
  margin-top: 6%;
}

.ianparagraph {
  margin-left: 30%;
  margin-top: 0%;
}

.liztitle {
  margin-bottom: 8%;
  margin-top: 8%;
}

.lizparagraph {
  margin-left: 30%;
  margin-top: 12%;
}

.lizpic {
  margin-top: 9%;
}

.who_footer {
  margin-top: 12%;
}

/*What We Do*/

.whatparagraph {
  border-left: 2px;
  border-color: #0D47A1;
  border-left-style: solid;
  border-left-width: normal;
}
